
html, body {
    height: 100%; }

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

html,
body {
    font-size: 100%; }

body {
    background: #fff;
    color: #222;
    cursor: auto;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative; }

a:hover {
    cursor: pointer; }

img {
    max-width: 100%;
    height: auto; }

img {
    -ms-interpolation-mode: bicubic; }



img {
    display: inline-block;
    vertical-align: middle; }

textarea {
    height: auto;
    min-height: 50px; }

select {
    width: 100%; }





@media only screen and (min-width: 40.0625em) {
    button, .button {
        display: inline-block; } }
/* Standard Forms */
form {
    margin: 0 0 1rem; }



/* Label Styles */
label {
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    /* Styles for required inputs */ }
label small {
    text-transform: capitalize;
    color: #676767; }


/* Respect enforced amount of rows for textarea */
textarea[rows] {
    height: auto; }

/* Not allow resize out of parent */
textarea {
    max-width: 100%; }

::-webkit-input-placeholder {
    color: #666666; }

:-moz-placeholder {
    /* Firefox 18- */
    color: #666666; }

::-moz-placeholder {
    /* Firefox 19+ */
    color: #666666; }

:-ms-input-placeholder {
    color: #666666; }

/* Add height value for select elements to match text input height */
select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-color: #FAFAFA;
    border-radius: 0;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
    background-position: 100% center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    color: rgba(0, 0, 0, 0.75);
    font-family: inherit;
    font-size: 0.875rem;
    line-height: normal;
    padding: 0.5rem;
    border-radius: 0;
    height: 2.3125rem; }
select::-ms-expand {
    display: none; }
select.radius {
    border-radius: 3px; }
select:focus {
    background-color: #f3f3f3;
    border-color: #999999; }
select:disabled {
    background-color: #DDDDDD;
    cursor: default; }
select[multiple] {
    height: auto; }

/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
    margin: 0 0 1rem 0; }

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0;
    vertical-align: baseline; }

/* Normalize file input width */
input[type="file"] {
    width: 100%; }

/* HTML5 Number spinners settings */
/* We add basic fieldset styling */
fieldset {
    border: 1px solid #DDDDDD;
    margin: 1.125rem 0;
    padding: 1.25rem; }
fieldset legend {
    font-weight: bold;
    margin: 0;
    margin-left: -0.1875rem;
    padding: 0 0.1875rem; }



/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0; }

/* Default Link Styles */
a {
    color: #008CBA;
    line-height: inherit;
    text-decoration: none; }
a:hover, a:focus {
    color: #0078a0; }
a img {
    border: none; }

/* Default paragraph styles */
p {
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility; }
p aside {
    font-size: 0.875rem;
    font-style: italic;
    line-height: 1.35; }

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
    color: #222222;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    text-rendering: optimizeLegibility; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #6f6f6f;
    font-size: 60%;
    line-height: 0; }

/*h1 {
    font-size: 2.125rem; }

h2 {
    font-size: 1.6875rem; }

h3 {
    font-size: 1.375rem; }

h4 {
    font-size: 1.125rem; }

h5 {
    font-size: 1.125rem; }

h6 {
    font-size: 1rem; }

.subheader {
    line-height: 1.4;
    color: #6f6f6f;
    font-weight: normal;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem; }*/

hr {
    border: solid #DDDDDD;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 1.25rem 0 1.1875rem; }

/* Helpful Typography Defaults */
em,
i {
    font-style: italic;
    line-height: inherit; }

strong,
b {
    font-weight: bold;
    line-height: inherit; }

small {
    font-size: 60%;
    line-height: inherit; }

code {
    background-color: #f8f8f8;
    border-color: #dfdfdf;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: normal;
    padding: 0.125rem 0.3125rem 0.0625rem; }

/* Lists */
ul,
ol,
dl {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.6;
    list-style-position: outside;
    margin-bottom: 1.25rem; }

ul {
    margin-left: 1.1rem; }

/* Unordered Lists */
ul li ul,
ul li ol {
    margin-left: 1.25rem;
    margin-bottom: 0; }
/* Ordered Lists */
ol {
    margin-left: 1.4rem; }
ol li ul,
ol li ol {
    margin-left: 1.25rem;
    margin-bottom: 0; }


/* Definition Lists */
dl dt {
    margin-bottom: 0.3rem;
    font-weight: bold; }
dl dd {
    margin-bottom: 0.75rem; }

/* Abbreviations */
abbr,
acronym {
    text-transform: uppercase;
    font-size: 90%;
    color: #222;
    cursor: help; }

abbr {
    text-transform: none; }
abbr[title] {
    border-bottom: 1px dotted #DDDDDD; }

/* Blockquotes */
blockquote {
    margin: 0 0 1.25rem;
    padding: 0.5625rem 1.25rem 0 1.1875rem;
    border-left: 1px solid #DDDDDD; }
blockquote cite {
    display: block;
    font-size: 0.8125rem;
    color: #555555; }
blockquote cite:before {
    content: "\2014    "; }
blockquote cite a,
blockquote cite a:visited {
    color: #555555; }

blockquote,
blockquote p {
    line-height: 1.6;
    color: #6f6f6f; }


@media only screen and (min-width: 40.0625em) {
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.4; }

    h1 {
        font-size: 2.75rem; }

    h2 {
        font-size: 2.3125rem; }

    h3 {
        font-size: 1.6875rem; }

    h4 {
        font-size: 1.4375rem; }

    h5 {
        font-size: 1.125rem; }

    h6 {
        font-size: 1rem; } }


table {
    background: #FFFFFF;
    border: solid 1px #DDDDDD;
    margin-bottom: 1.25rem;
    table-layout: auto; }
table caption {
    background: transparent;
    color: #222222;
    font-size: 1rem;
    font-weight: bold; }
table thead {
    background: #F5F5F5; }
table thead tr th,
table thead tr td {
    color: #222222;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0.5rem 0.625rem 0.625rem; }
table tfoot {
    background: #F5F5F5; }
table tfoot tr th,
table tfoot tr td {
    color: #222222;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0.5rem 0.625rem 0.625rem; }
table tr th,
table tr td {
    color: #222222;
    font-size: 0.875rem;
    padding: 0.5625rem 0.625rem;
    text-align: left; }
table tr:nth-of-type(even) {
    background: #F9F9F9; }
table thead tr th,
table tfoot tr th,
table tfoot tr td,
table tbody tr th,
table tbody tr td,
table tr td {
    display: table-cell;
    line-height: 1.125rem; }


/*
Description: Foundation 4 docs style for highlight.js
Author: Dan Allen <dan.j.allen@gmail.com>
Website: http://foundation.zurb.com/docs/
Version: 1.0
Date: 2013-04-02
*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #eee; color: black;
}

.hljs-link,
.hljs-emphasis,
.hljs-attribute,
.hljs-addition {
    color: #070;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong,
.hljs-string,
.hljs-deletion {
    color: #d14;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-quote,
.hljs-comment {
    color: #998;
    font-style: italic;
}

.hljs-section,
.hljs-title {
    color: #900;
}

.hljs-class .hljs-title,
.hljs-type {
    color: #458;
}

.hljs-variable,
.hljs-template-variable {
    color: #336699;
}

.hljs-bullet {
    color: #997700;
}

.hljs-meta {
    color: #3344bb;
}

.hljs-code,
.hljs-number,
.hljs-literal,
.hljs-keyword,
.hljs-selector-tag {
    color: #099;
}

.hljs-regexp {
    background-color: #fff0ff;
    color: #880088;
}

.hljs-symbol {
    color: #990073;
}

.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    color: #007700;
}/**markdown based on foundation css*/
pre{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background-color: #f8f8f8;
    border: 1px solid #dfdfdf;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0.125rem 0.3125rem 0.0625rem;
}

pre code{
    background-color: transparent;
    border: 0;
    padding: 0;
}

/***/


body.csblog-body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow:hidden;
    max-width:100%;
    max-height:100%;
}



md-input-container .md-errors-spacer{
    min-height: initial;
}

.csblog-nav-header{
    background-color: #106CC8;
    background: -webkit-linear-gradient(#185694, #106cc8);
    background: linear-gradient(#185694, #106cc8);
    border-bottom: 1px solid #267ED5;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    z-index: 2;
}

.csblog-logo{
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    text-decoration: none;
    align-items: center;
    padding: 0 0 16px;
    margin: 0 auto;
}

.csblog-logotype{
    color: white;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    //font-size: 26px;
}

/*
 * 侧边栏动画显示与隐藏
 */
/*
.csblog-stretch-ver.ng-enter{
    height:0;
    overflow:hidden;
    transition:0.5s ease-in all;
}
.csblog-stretch-ver.ng-enter.ng-enter-active{
    height:90px;
    overflow:hidden;
}

.csblog-stretch-ver.ng-leave {
    transition:0.5s ease-out all;
    overflow:hidden;
    height:90px;
}
.csblog-stretch-ver.ng-leave.ng-leave-active {
    height:0;
}
*/



/*.csblog-animate-show-hide.ng-hide {
    !*max-height: 0;
    overflow: hidden;*!
    !*transform:translateY(-100%);*!
    !*!/height:0;*!
}

.csblog-animate-show-hide.ng-hide-add,
.csblog-animate-show-hide.ng-hide-remove,
.csblog-animate-show-hide.ng-enter,
.csblog-animate-show-hide.ng-leave{
    -webkit-transition: all ease-in 0.5s;
    transition: all ease-in 0.5s;
    overflow:hidden;
}

.csblog-animate-show-hide.ng-enter:{
    height:0;
}
.csblog-animate-show-hide {
    !*max-height:inherit;
    overflow: auto;*!
    transition: all ease-in 0.5s;
}*/



.csblog-animate-rotate{
    -webkit-transition: all ease-in 0.5s;
    transition: all ease-in 0.5s;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.csblog-animate-rotate.csblog-animate-rotate-180{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*# sourceMappingURL=app.bundle.css.map*/